In [1]:
import pandas as pd
df = pd.read_csv('gdp.csv', index_col=0)

df

                         Capital  GDP ($US Trillion)  Population
Country
Ireland                   Dublin              0.3337      4784000
United Kingdom            London              2.6220     66040000
United States   Washington, D.C.             19.3900    327200000
China                    Beijing             12.2400   1386000000
India                  New Delhi              2.5970   1339000000
Germany                   Berlin              3.6770     82790000

In [3]:
for x in df:
    print(x)

Capital
GDP ($US Trillion)
Population

In [5]:
for x, y in df.iterrows():
    print(x)
    print(y)

Ireland
Capital                Dublin
GDP ($US Trillion)     0.3337
Population            4784000
Name: Ireland, dtype: object
United Kingdom
Capital                 London
GDP ($US Trillion)       2.622
Population            66040000
Name: United Kingdom, dtype: object
United States
Capital               Washington, D.C.
GDP ($US Trillion)               19.39
Population                   327200000
Name: United States, dtype: object
China
Capital                  Beijing
GDP ($US Trillion)         12.24
Population            1386000000
Name: China, dtype: object
India
Capital                New Delhi
GDP ($US Trillion)         2.597
Population            1339000000
Name: India, dtype: object
Germany
Capital                 Berlin
GDP ($US Trillion)       3.677
Population            82790000
Name: Germany, dtype: object

In [9]:
for label, row in df.iterrows():
    df.loc[label,'gdp_per_cap'] = row['GDP ($US Trillion)']/row['Population '] * 1000000000000
df.head()

,Capital,GDP ($US Trillion),Population,gdp_per_cap
Country,,,,
Ireland,Dublin,0.3337,4784000,69753.344482
United Kingdom,London,2.6220,66040000,39703.210176
United States,"Washington, D.C.",19.3900,327200000,59260.391198
China,Beijing,12.2400,1386000000,8831.168831
India,New Delhi,2.5970,1339000000,1939.507095